.vscode/

Reconstructions/
ModelParameters/
OptimizerParameters/
NormalizationParameters/
TrainingMeshes/
SdfSamples/
SurfaceSamples/
LatentCodes/
__pycache__/
bin/
build/
bike_dataset_*/

datasets_raw/
datasets_processed/

*.pth
*.zip

exp_*/
